
@use '../Mixins.scss';
#Solo-Scheduler-container{
        height: 90vh;
        background-color: var(--bg-3);
        @include Mixins.custom-scroll();
        >.Solo-Scheduler{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            max-width: 90vw;
            width: fit-content;
            background-color: var(--bg-1);
            margin-left: auto;
            margin-right: auto;
            border: 1px solid var(--border-a);
            border-radius: 10px;
            margin-top: 4px;
            justify-content: center;
            align-items: center;
            align-content: flex-start;
            gap: 8px;
            position: relative;
            padding-top: 0px;
            overflow: hidden;
            height: calc(100% - 16px);
            min-width: 700px;
            >.Solo-Scheduler-head{
                width: 100%;
                height: 40px;
                position: sticky;
                top: 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                background-color: var(--nav-3);
                z-index: 2;
                >.ChangeSelection{
                    margin: 2px;
                }
                >label{
                    color: var(--text-1);;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    width: 100%;
                    display: flex;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
}
.Scheduler-box{
    width: calc(100% - 32px);
    overflow: hidden;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
        display: flex;
    flex-direction: column;
    align-items: center;
            >.vertical-menu{
                @include Mixins.vertical-menu;
        
    }

    .Scheduler-week-box{
        width: calc(100% + 10px);
        max-height: 76vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .Scheduler-week{
        @include Mixins.custom-scroll();
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;

        overflow: scroll;
        height: 76vh;
        overflow-x: hidden;
        margin-right: 10px;
        margin-left: 10px;
        >.Week-days{
            color: var(--text-2);
            height: 80vh;
            border-left: 1px dotted var(--border-a);
            padding-left: 2px;
            padding-right: 2px;
            font-size: 12px;
            min-width: 80px;
            overflow: visible;
            position: relative;
            min-height: 1440px;
            padding-bottom: 80px;
            >.Week-days-names{
                position: sticky;
                top: 0px;
                height: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: var(--bg-1);
                z-index: 10;
                font-size: 10px;
                border-bottom: 1px dotted var(--border-b);
                overflow: visible;
                &:hover{
                    font-size: 12px;
                }
                >div{
                    cursor: pointer;
                    overflow: visible;
                }
            }
            &:nth-of-type(1){
                // background-color: red;
                border-left: none;
            }
            >.Week-days-Open-time-Spam{
                position: relative;
                overflow: visible;
                >.Day-Time-Blocks{
                    height: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 10px;
                    z-index: 1;
                    position: relative;
                    pointer-events: none;
                }
            }
            >.Week-days-Open-times{
                
                width: 100%;
                border-radius: 10px;
                margin-right: auto;
                position: absolute;
                top: 38px;
                >div{
                    position: relative;
                    top: 0px;
                    min-height: 1440px;
                    overflow: hidden;
                    >.Open-times-Block{
                        margin-top: 2px;
                        display: flex;
                        border-radius: 10px;
                        position: absolute;
                        left: calc(5% - 2px);
                        border: 2px solid var(--border-1);
                        background-color: var(--btn-4);
                        &:hover{
                            border: 2px solid #3faae9;
                            // z-index: 1;
                        }
                        >div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;
                        width: 100%;
                        background-color: var(--btn-3);
                        color: var(--btn-4);
                        height: fit-content;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        border-radius: 10px;
                        position: relative;
                            >div{
                                margin-bottom: 8px;
                                >img{
                                    height: 20px;
                                    width: 20px;
                                }
                                &:hover{
                                    >img{
                                        height: 24px;
                                        width: 24px;
                                    } 
                                }
                            }
                        }

                        &.Open,&.Availability{
                            width: 86%;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 10px;
                            >div{
                                    z-index: 2;
                                    opacity: 1;
                                    overflow: hidden;
                                
                            }
                        }
                        &.Availability{
                             background-color:  var(--bg-3);
                             cursor: pointer;
                            >div{
                            background-color: var(--bg-2);
                            color: var(--input-3);

                            }
                            &:hover{
                                border: 2px solid var(--border-4);

                            }
                        }

                    }

                }

            }
        }
        &.Hidden{
            display: none;
        }
    }
}

